@use "../../styles/constants" as c;
@use "../../styles/mixins/" as m;

.wrap {
  @include m.flex();
  background-color: c.$C_ORANGE;
  color: white;
  font-size: 12px;
  padding: 6px;
  border-radius: 12px;
  font-weight: 600;
}
