@use "../../styles/mixins/" as m;
@use "../../styles/constants/" as c;

.introduce,
.skills {
  width: 100%;
  padding: 24px 40px;
  font-size: 14px;
  font-weight: 400;
  color: c.$C_WHITE_70;

  h1,
  h2 {
    font-weight: 600;
    color: c.$C_WHITE_100;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }
}

.introduce {
  @include m.flex(space-between);
  width: 100%;

  > .introduceLeft,
  > .introduceRight {
    width: 40%;
    //  border: 1px solid white;
  }
}

.introduceLeft {
  @include m.flex(center, center, column);

  .profile {
    @include m.flex();
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: c.$C_WHITE_20;

    > img {
      width: 80%;
      margin-bottom: 20px;
    }
  }

  p {
    padding: 4px 0;
  }

  > h2 {
    padding: 20px 0;
  }
}

.introduceRight {
  > p {
    @include m.flex(flex-start);
    height: 24px;
  }

  svg {
    width: 20px;
    height: 20px;
    fill: c.$C_WHITE_90;
    padding: 0 4px 2px 0;
  }

  .duration {
    width: 104px;
  }

  a {
    color: c.$C_WHITE_80;
  }

  .contact {
    width: 100%;
    border-top: 0.5px solid c.$C_WHITE_40;
    margin-top: 20px;
    padding-top: 20px;

    > a {
      @include m.flex(flex-start);
      height: 24px;

      div {
        width: 40px;
        text-align: center;
      }
    }
  }
}

.skills {
  @include m.flex(space-between, flex-start);
  padding-top: 100px;

  > article {
    width: 40%;

    > .iconWrap {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
    }

    .icon {
      @include m.flex(flex-start);

      > img {
        width: 24px;
        height: 24px;
      }

      > svg {
        width: 20px;
        height: 20px;
        fill: white;
      }

      > p {
        font-size: 16px;
        font-weight: 600;
        padding: 4px 0 0 4px;
        color: c.$C_WHITE_100;
      }

      &.big {
        > img {
          width: 18px;
          height: 18px;
          border-radius: 4px;
        }
      }
    }

    > h1 {
      padding-bottom: 8px;
      margin-bottom: 8px;
      border-bottom: 0.5px solid c.$C_WHITE_40;
    }
  }
}
