$C_BLACK: #060111;
$C_ORANGE: rgb(254, 174, 46);

$C_WHITE_10: rgba(255, 255, 255, 0.1);
$C_WHITE_20: rgba(255, 255, 255, 0.2);
$C_WHITE_30: rgba(255, 255, 255, 0.3);
$C_WHITE_40: rgba(255, 255, 255, 0.4);
$C_WHITE_50: rgba(255, 255, 255, 0.5);
$C_WHITE_60: rgba(255, 255, 255, 0.6);
$C_WHITE_70: rgba(255, 255, 255, 0.7);
$C_WHITE_80: rgba(255, 255, 255, 0.8);
$C_WHITE_90: rgba(255, 255, 255, 0.9);
$C_WHITE_100: white;
