@font-face {
  font-family: "Black Han Sans";
  src: url("./fonts/BlackHanSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSansKR-Thin.woff") format("woff"),
    url("./fonts/NotoSansKR-Thin.otf") format("opentype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSansKR-Light.woff") format("woff"),
    url("./fonts/NotoSansKR-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSansKR-Regular.woff") format("woff"),
    url("./fonts/NotoSansKR-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSansKR-Medium.woff") format("woff"),
    url("./fonts/NotoSansKR-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSansKR-Bold.woff") format("woff"),
    url("./fonts/NotoSansKR-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSansKR-Black.woff") format("woff"),
    url("./fonts/NotoSansKR-Black.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
}
